extends layout

block title
  title= title

block content

  div.container
    div.page-header
      h2= message
        div.pull-right
          h3
            a(href=url + '/add') Add New User

    table.table.table-bordered(border=1)
      tr
        th Name
        th Mobile
        th Email
        th Gender
        th Address
        th Edit
      each user in users
        tr
          td= user.name
          td= user.mobile
          td= user.email
          if user.gender == 'M'
            td Male
          else
            td Female
          td= user.address
          td
            a(href=url + '/edit?mobile=' + user.mobile) Edit Me
